@import "tailwindcss";

@theme {
  --color-test: red;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .border-gradient {
    border: 7px solid;
    background-image: radial-gradient(circle, var(--profile-gradient-one), var(--profile-gradient-two));
    border-image-slice: 1;
  }
}
